header {
  text-align: center;
  background-color: #1a1a1a;
  -webkit-box-shadow: 0px 31px 60px -25px rgba(47, 47, 64, 1);
  -moz-box-shadow: 0px 31px 60px -25px rgba(47, 47, 64, 1);
  box-shadow: 0px 31px 60px -25px rgba(47, 47, 64, 1);
}

.black-color {
  color: black;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.Cv {
  display: flex;
  flex-direction: column;
  gap: 0.8cm;
  width: 21cm;
  height: 29.7cm;
  background-color: white;
  margin-bottom: 20px;
}

/* Cv */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 21cm;
  height: 4cm;
  background-color: #0e374e;
  text-align: center;
}

.header h1 {
  font-size: 3.2rem;
}

.cv-info {
  font-weight: bold;
}

.more-info {
  display: flex;
  gap: 20px;
}

.edu-title {
  text-align: center;
  background-color: #2f759e;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.education {
  margin-left: 1.5cm;
  margin-right: 1.5cm;
}

.education-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 60px);
  margin-top: 20px;
}

.education-item {
  display: flex;
  gap: 20px;
}

.time-location,
.school-degree {
  display: flex;
  flex-direction: column;
}
.time-location {
  width: 200px;
}
/*  */
footer {
  text-align: center;
}
.algida {
  text-decoration: underline 2px rgba(251, 255, 0, 0.904);
}
